/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /* main css */

@font-face {
  font-family: 'Joystix';
  src: url('/src/fonts/joystix.otf');
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 750px;
  width: 525px;
  background-color: #B3DAC5;
  padding: 1.75rem;
}

header {
  display: flex;
  font-family: 'Joystix';
  height: 12.5%;
  width: 87.5%;
  border: 2px solid black;
  background-color: #F2BE5E;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  word-spacing: -0.5rem;
  box-shadow: 7px 5px 0px -1px rgba(232,140,104,1);
}

  #mouse_cursor {
    position: relative;
    width: 50px;
    height: 65px;
    top: 20px;
    right: -65px;
    color: #F6ECD5;
  }

section {
  padding-top: 2rem;
  position: relative;
  width: 87.5%;
  height: 82.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 102.7px;
  gap: 0.5rem;
  overflow-y: scroll;
} 

  .taskContainer {
    border: 1px solid black;
    background-color: #F6ECD5;
    border-radius: 16px;
    width: 95%;
    height: 95%;
    position: relative;
    z-index: 2;
  }
  
  .bgContainer {
    border: 1px solid black;
    background-color: #E88D69;
    position: relative;
    top: -99px;
    right: -3px;
    z-index: 1;
    width: 95%;
    height: 95%;
    border-radius: 16px;
  }
  
  .controlBar {
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    position: relative;
    top: -198px;
    right: -70px;
    border: 1px solid black;
    background-color: #F2BE5E;
    box-shadow: 4px 4px 0px -1px rgba(232,140,104,1);
    width: 65%;
    height: 16%;
  }
    #buttons {
      display: flex;
      width: 27.5%;
    }
      #edit, #remove {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 50%;
        height: 100%;
        border-top: 1px solid #F6ECD5;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        background-color: #F6ECD5;
      }
      #edit:active, #remove:active {
        border-top: 1px inset #F6ECD5;
        border-left: 1px inset black;
        border-right: 1px inset black;
        border-bottom: 1px inset black;
      }
      #remove {
        border-left: none;
      }

  